* {
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: lightgray;
    overflow-x: hidden;
    margin: 0;
}

 /* This class sets up the header for the top of the page */
.header {
    background-color: lightskyblue;
    color: transparent;
    width: 100%;
    padding: 20px;
    border-bottom: 10px solid gray;
}

 /* this class sets the title to be displayed in the header with inline-block and a color gradient */
.header h1 {
    display: inline-block;
    font-size: 43px;
    padding: 10px;
    border: 5px;
    background-image: linear-gradient(rgba(8, 14, 191, 0.8) 0%,
            rgba(96, 6, 129, 0.833) 100%);
    -webkit-background-clip: text;
    background-clip: text;
}

/* This class sets up the links in the header to be pushed to the right side and have no text decoration */
.header div {
    float: right;
    display: inline;
    color: rgb(33, 33, 33);
    margin-right: 25px;
    margin-top: 25px;
    padding: 20px;
}

/* This class gets rid of the bullet points for the links */
.header div ul {
    list-style-type: none;
}

/* This class styles the links that are applied to the header by displaying them inline */
.header div ul li {
    display: inline-block;
    margin-left: 30px;
}

a {
    color: #ffffff;
    text-decoration: underline 4px;
    font-size: 24px;
}

/* This class pushes the links to the left to avoid running into the edge of the page */
.header a:last-child {
    margin-right: 15px;
}

 /* This class sets up the color change when the links are hovered over */
 a:hover {
    color: rgb(63, 24, 63);
}

/* This class allows the background color to change when the links are active */
 a:active {
    background-color: rgb(63, 24, 63);
    color: #ffffff;
}

/* This class sets up the photo under the header */
.Cover-photo {
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("Images/wallpaper.jpg");
    background-size: cover;
    background-position: center;
    border-bottom: 10px solid gray;
}

/* This class sets up the subtitle inside the photo */
.Cover-photo h2 {
    display: flex;
    float: right;
    color: #ffffff;
    font-size: 22px;
    padding: 10px;
    border: 5px;
    margin-top: 130px;
    margin-left: 860px;
    margin-right: 100px;
    background-color: lightskyblue;
}

/* This class sets up the three main sections of the body*/
main {
    display: flex;
    margin: 25px 200px 50px 200px;
}

/*This class sets up the lft side of the three main sections*/
aside {
    flex: 30%;
    padding: 20px;
    flex-wrap: wrap;
}

/*This class sets up the header of the three aside sections on the left side of the screen to have the vertical line beside them*/
aside h2 {
    color: rgb(7, 7, 89);
    border-right: 6px solid rgb(7, 7, 89);
    font-size: 40px;
    height: 100%;
}

/*This class sets up the right side of the three main sections of the body*/
section {
    flex: 70%;
    padding: 20px;
    font-size: 24px;
    font-family: serif;
    color: rgb(7, 7, 89);
}

/*This class sets */
section div {
    display: inline;
    color: rgb(33, 33, 33);
    padding: 20px;
    margin-top: 25px;
    padding: 20px;
}

/*This class sets the contact me list to be displayed with no bullets*/
section div ul {
    list-style-type: none;
}

/*This class sets the contact me list to be displayed inline and to have a distance between each other of 30px*/
section div ul li {
    display: inline-block;
    margin-left: 30px;
}

/*This class sets the dimensions for the personal photo in the about me section*/
.personalPhoto{
    width: 50%;
    height: auto;
    border-radius: 5px;
    vertical-align: 6px;
}

/*This class sets the flex properties for the work images*/
.Images{
    display: flex;
    flex-wrap:  wrap;
    flex: 0 0 66%;
    justify-content: center;
    gap: 10px;
}

/*This class sets the borders on the images*/
.Borders{
    position: relative;
    width: fit-content;
    margin: 10px;
}

/* This class arranges the photos with no bullets*/
.Images ul{
    list-style-type: none;
    justify-content: space-between;
}

.Images li {
    flex-basis: 350px;
}

/*This class sets the border color and size*/
.Images a{
border: 6px solid lightblue;
}

/*This class sets the images to be a set size when displayed*/
.Images li img{
    object-fit: cover;
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    vertical-align: 6px;
}

/*This sets the title on the images to be displayed*/
.Subtitle{
    position: absolute;
    background-color: lightskyblue;
    padding: 6px;
    margin-bottom: 15px;
    margin-left: 2px;
    text-align: left;
}

/*This class sets up the footer of the page*/
.footer {
    background-color: lightskyblue;
    color: transparent;
    width: 100%;
    padding: 10px;
    border-top: 10px solid gray;
}

/*This class sets up the header for the footer of the page*/
.footer h3 {
    text-align: center;
    font-size: 26px;
    padding: 10px;
    border: 5px;
    background-image: linear-gradient(rgba(8, 14, 191, 0.8) 0%,
            rgba(96, 6, 129, 0.833) 100%);
    -webkit-background-clip: text;
    background-clip: text;
} 

/*The Media screens make the page responsive during use with smaller devices*/
@media screen and (max-width: 1218px) {
    .Cover-photo{
        display: none;
    }
    .Cover-photo h2{
        display: none;
    }
}

@media screen and (max-width: 1061px) {
    .header div  {
        display: none;
    }
    .header h1 {
        display: block;
        text-align: center;
    }
}

@media screen and (max-width: 830px) {
    .header{
        width: 100vw;
    }
}